In [28]:
import pandas as pd

# 创建一个简单的DataFrame
df = pd.DataFrame({
    "A": [1, 2, 3],
    "B": [4, 5, 6],
}, index=['one', 'two', 'three'])

print(df)
# 使用.loc选择特定行
selected_rows = df.loc[['one', 'two']]
print(type(selected_rows), selected_rows)

selected_rows = df.loc['one']
print(type(selected_rows))
print( selected_rows)
# 使用.loc选择特定列
selected_columns = df.loc[:, ['A', 'B']]
print(type(selected_columns), selected_columns)

# 使用.loc选择特定行列
selected_rows_and_columns = df.loc[['one', 'two'], 'A']


# 使用.iloc选择特定行
print('------iloc[[0,2]]----')
selected_rows = df.iloc[[0, 2]]  # 选择索引为0和2的行
print(type(selected_rows))
print( selected_rows)

# 使用.iloc选择特定列
print('------df.iloc[:, [1, 1]]----')
selected_columns = df.iloc[:, [0, 1, 1]]  # 选择第0列和第2列
print(type(selected_columns))
print( selected_columns)
# 使用.iloc选择特定列
print('------df.iloc[:, 0]----')
selected_columns = df.iloc[:, 1]  # 选择第0列和第2列
print(type(selected_columns))
print( selected_columns)

# 注意：不能使用.iloc选择非整数索引的列
# selected_columns = df.iloc[:, 'A']  # 这是错误的用法

       A  B
one    1  4
two    2  5
three  3  6
<class 'pandas.core.frame.DataFrame'>      A  B
one  1  4
two  2  5
<class 'pandas.core.series.Series'>
A    1
B    4
Name: one, dtype: int64
<class 'pandas.core.frame.DataFrame'>        A  B
one    1  4
two    2  5
three  3  6
------iloc[[0,2]]----
<class 'pandas.core.frame.DataFrame'>
       A  B
one    1  4
three  3  6
------df.iloc[:, [1, 1]]----
<class 'pandas.core.frame.DataFrame'>
       A  B  B
one    1  4  4
two    2  5  5
three  3  6  6
------df.iloc[:, 0]----
<class 'pandas.core.series.Series'>
one      4
two      5
three    6
Name: B, dtype: int64

In [30]:
import pandas as pd
import numpy as np

# 设置随机种子以获得可重复的结果
np.random.seed(42)

# 生成日期索引
date_rng = pd.date_range('2024-01-01', periods=100)

# 生成仿真的OHLC数据
# 假设开盘价是基础价格，收盘价和最高价略高于开盘价，最低价略低于开盘价
open_prices = np.random.randint(100, 200, size=100)
high_prices = open_prices * (1 + np.random.uniform(0.01, 0.05))  # 比开盘价高1%-5%
low_prices = open_prices * (1 - np.random.uniform(0.01, 0.05))  # 比开盘价低1%-5%
close_prices = high_prices * (1 - np.random.uniform(0.005, 0.02))  # 收盘价在最高价之下

# 创建DataFrame
ohlc_df = pd.DataFrame({
    'Open': open_prices,
    'High': high_prices,
    'Low': low_prices,
    'Close': close_prices
}, index=date_rng)

# 显示生成的DataFrame的前几行
print(ohlc_df)

            Open        High         Low       Close
2024-01-01   151  154.664790  147.793156  152.632427
2024-01-02   192  196.659866  187.922423  194.075668
2024-01-03   114  116.766795  111.578939  115.232428
2024-01-04   171  175.150193  167.368408  172.848642
2024-01-05   160  163.883221  156.602019  161.729723
...          ...         ...         ...         ...
2024-04-05   184  188.465704  180.092322  185.989182
2024-04-06   179  183.344354  175.198509  180.935128
2024-04-07   181  185.392894  177.156034  182.956750
2024-04-08   152  155.689060  148.771918  153.643237
2024-04-09   123  125.985226  120.387802  124.329725

[100 rows x 4 columns]

In [36]:
filtered_df = ohlc_df.loc[(ohlc_df['Close'] > ohlc_df['Open'])]
filtered_df

            Open        High         Low       Close
2024-01-01   151  154.664790  147.793156  152.632427
2024-01-02   192  196.659866  187.922423  194.075668
2024-01-03   114  116.766795  111.578939  115.232428
2024-01-04   171  175.150193  167.368408  172.848642
2024-01-05   160  163.883221  156.602019  161.729723
...          ...         ...         ...         ...
2024-04-05   184  188.465704  180.092322  185.989182
2024-04-06   179  183.344354  175.198509  180.935128
2024-04-07   181  185.392894  177.156034  182.956750
2024-04-08   152  155.689060  148.771918  153.643237
2024-04-09   123  125.985226  120.387802  124.329725

[100 rows x 4 columns]

In [35]:
# Pandas的query()方法允许你使用字符串表达式来筛选数据，这可以使代码更加简洁。
filtered_df = ohlc_df.query('not (Close > Open and Open >150)')
filtered_df

            Open        High         Low       Close
2024-01-03   114  116.766795  111.578939  115.232428
2024-01-06   120  122.912416  117.451514  121.297293
2024-01-13   123  125.985226  120.387802  124.329725
2024-01-14   102  104.475554   99.833787  103.102699
2024-01-15   121  123.936686  118.430277  122.308103
2024-01-17   101  103.451283   98.855025  102.091888
2024-01-19   129  132.130847  126.260378  130.394590
2024-01-20   137  140.325008  134.090479  138.481076
2024-01-21   101  103.451283   98.855025  102.091888
2024-01-24   120  122.912416  117.451514  121.297293
2024-01-25   132  135.203658  129.196666  133.427022
2024-01-28   121  123.936686  118.430277  122.308103
2024-01-30   148  151.591980  144.856868  149.599994
2024-02-02   141  144.422089  138.005529  142.524319
2024-02-06   114  116.766795  111.578939  115.232428
2024-02-09   146  149.543439  142.899342  147.578373
2024-02-11   150  153.640520  146.814393  151.621616
2024-02-14   102  104.475554   99.833787  103.102699
2024-02-15   150  153.640520  146.814393  151.621616
2024-02-16   106  108.572634  103.748838  107.145942
2024-02-17   120  122.912416  117.451514  121.297293
2024-02-19   138  141.349278  135.069242  139.491886
2024-02-20   117  119.839606  114.515226  118.264860
2024-02-21   103  105.499824  100.812550  104.113509
2024-02-24   113  115.742525  110.600176  114.221617
2024-02-25   108  110.621174  105.706363  109.167563
2024-02-28   101  103.451283   98.855025  102.091888
2024-03-04   143  146.470629  139.963055  144.545940
2024-03-05   107  109.596904  104.727600  108.156753
2024-03-06   146  149.543439  142.899342  147.578373
2024-03-07   134  137.252198  131.154191  135.448643
2024-03-10   135  138.276468  132.132954  136.459454
2024-03-11   149  152.616250  145.835630  150.610805
2024-03-12   103  105.499824  100.812550  104.113509
2024-03-13   101  103.451283   98.855025  102.091888
2024-03-14   105  107.548364  102.770075  106.135131
2024-03-16   103  105.499824  100.812550  104.113509
2024-03-20   117  119.839606  114.515226  118.264860
2024-03-22   143  146.470629  139.963055  144.545940
2024-03-23   133  136.227928  130.175428  134.437833
2024-03-27   113  115.742525  110.600176  114.221617
2024-03-29   147  150.567710  143.878105  148.589183
2024-03-30   114  116.766795  111.578939  115.232428
2024-04-04   139  142.373548  136.048004  140.502697
2024-04-09   123  125.985226  120.387802  124.329725

In [31]:
filtered_df = ohlc_df.loc[(ohlc_df['Close'] > ohlc_df['Open'])]
filtered_df

            Open        High         Low       Close
2024-01-01   151  154.664790  147.793156  152.632427
2024-01-02   192  196.659866  187.922423  194.075668
2024-01-03   114  116.766795  111.578939  115.232428
2024-01-04   171  175.150193  167.368408  172.848642
2024-01-05   160  163.883221  156.602019  161.729723
...          ...         ...         ...         ...
2024-04-05   184  188.465704  180.092322  185.989182
2024-04-06   179  183.344354  175.198509  180.935128
2024-04-07   181  185.392894  177.156034  182.956750
2024-04-08   152  155.689060  148.771918  153.643237
2024-04-09   123  125.985226  120.387802  124.329725

[100 rows x 4 columns]

In [1]:
import pywencai
import pandas as pd
import numpy as np
import akshare as ak
from datetime import datetime, timedelta

df = ak.stock_zh_a_spot_em()
# 两市剔除ST股、剔除科创板股、剔除北交所股
df = df[~df['代码'].astype(str).str.startswith('4')]
df = df[~df['代码'].astype(str).str.startswith('8')]
df = df[~df['代码'].astype(str).str.startswith('68')]
df = df[~df['名称'].astype(str).str.startswith('N')]
df = df[~df['名称'].astype(str).str.startswith('*')]
df = df[~df['名称'].astype(str).str.startswith('ST')]
# 按成交额降序排序，选出开盘金额最大前N只股
df = df.sort_values(by='成交额', ascending=False)
df = df.head(300)
df['代码'] = df['代码'].astype(str).str[:6]